<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a href='index.html'>
          <img alt="" src="{{site.url}}/images/bordered-logo-cp.png" />
        </a>
      </h1>
      <p>©2017 Twin Engine Labs, LLC <br />All rights reserved.</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Learn CodePilot</h4>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="/lessons/beginners.html">Beginners</a></li>
          <li><a href="/lessons/writing-your-first-script.html">Your First Script</a></li>
          <li><a href="/lessons/learn-how-to-use-the-default-storage-mechanism">Using the DB</a></li>
          <li><a href="/lessons/use-case-enrich-contact-information">Use Case - Enriching Contacts</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Internships</h4>
        <ul>
          <li><a href="/about.html">Learn More About Us</a></li>
          <li><a href="/internships.html">Learn About Our Internships</a></li>
          <li><a href="/apply.html">Apply Now</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact us</h4>
      <ul>
        <li>Phone: +1 318-771-7324</li>
        <li>Email: engineering@twinenginelabs.com</li>
        <li>Location: 333 Texas St., Suite #506, Shreveport, LA 71101</li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a href='http://facebook.com'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        <li>
          <a href='http://twitter.com'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
        <li>
          <a href='http://dribbble.com'>
            <i class='fa fa-dribbble'></i>
          </a>
        </li>
        <li>
          <a href='http://tumblr.com'>
            <i class='fa fa-tumblr'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
